html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2be38;
}

.line {
  color: #212121;
  background-color: #212121;
  border: 0;
  padding: 3rem 0;
}

.highlight {
  border: 2px solid #f2be38;
  font-size: 4rem;
}
.highlight h2 {
  background-color: #f2be38;
  padding: 1rem;
  text-transform: uppercase;
}
.highlight p {
  padding: 1rem;
  color: white;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  box-shadow: 0px 0px 10px 5px #212121;
}

.navbar {
  background-color: #212121;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 2rem;
}
.navbar .menuToggle {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 2rem;
}
.navbar .menuToggle a {
  color: #f2be38;
  font-size: 4rem;
}
.navbar .nav-items {
  display: flex;
  font-size: 3rem;
  border: 2px solid #f2be38;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.navbar .nav-items .nav-item {
  padding: 2rem 3rem;
  transition: background-color 0.2s ease-in;
}
.navbar .nav-items .nav-item a {
  color: #f2be38;
  text-decoration: none;
  transition: color 0.2s ease-in;
}
.navbar .nav-items .nav-item:hover {
  background-color: #f2be38;
}
.navbar .nav-items .nav-item:hover a {
  color: #4d4942;
}

.header {
  background: url("img/header_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.header .header-content > p:last-child {
  font-size: 4rem;
  color: white;
  text-transform: uppercase;
}

.menu {
  background-image: url("img/menu_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.menu h2 {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: white;
  text-align: center;
  padding: 3rem 0;
}
.menu .menu-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.menu .menu-content .item .image {
  width: 350px;
  height: 320px;
  -o-object-fit: fill;
     object-fit: fill;
  overflow: hidden;
}
.menu .menu-content .item .highlight {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
.menu .menu-content .item .highlight h2 {
  font-size: 1.8rem;
  padding: 0.5rem;
  text-align: left;
  color: #212121;
}
.menu .menu-content .item .highlight .menu-list {
  color: white;
  padding: 0.8rem;
}
.menu .menu-content .item .highlight .menu-list .row {
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 0;
}

.discount {
  background: url("img/menu_bg.png");
  background-repeat: no-repeat;
  background-color: #212121;
  display: flex;
  justify-content: space-around;
}
.discount .right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #f2be38;
  font-size: 3rem;
  text-align: right;
}
.discount .right-side h2 {
  margin-bottom: 2rem;
}
.discount .right-side .btn {
  background-color: #f2be38;
  color: #4d4942;
  text-decoration: none;
  padding: 1rem;
  font-weight: bold;
}

.special {
  background-image: url("img/special_bg.png");
  background-repeat: no-repeat;
  background-color: #212121;
  display: flex;
  flex-direction: column;
}
.special .row:first-child {
  display: flex;
  padding: 5rem;
  gap: 10rem;
  justify-content: space-around;
}
.special .row:first-child p {
  color: white;
  font-size: 3rem;
  display: block;
  width: 50%;
}
.special .row:first-child .highlight h2 {
  font-size: 3rem;
}
.special .row:first-child .highlight p {
  font-size: 3rem;
}
.special .row:last-child {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.special .row:last-child img {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
.special .row:last-child img:first-child {
  width: 10vw;
}
.special .row:last-child img:nth-child(2) {
  width: 10vw;
}

.our-method {
  background: url("img/menu_bg.png");
  background-repeat: no-repeat;
  background-color: #212121;
  display: flex;
  gap: 2rem;
  align-items: center;
  padding-right: 4rem;
}
.our-method .highlight h2 {
  font-size: 3rem;
}
.our-method .highlight p {
  font-size: 3rem;
}

.live-music {
  background-color: #212121;
  background-image: url("img/live_music_bg.png");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.live-music .row:first-child {
  display: flex;
  padding: 4rem;
  gap: 10rem;
}
.live-music .row:first-child p {
  font-size: 3rem;
  color: white;
  display: block;
  width: 50%;
}
.live-music .row:last-child img {
  position: relative;
  top: 5rem;
}

.footer {
  background-color: #212121;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0;
}
.footer .row {
  display: flex;
  gap: 5rem;
}
.footer .row:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .row:first-child h2 {
  color: white;
  font-size: 4rem;
}
.footer .row:nth-child(2) {
  display: flex;
  padding-top: 5rem;
  justify-content: space-between;
}
.footer .row:nth-child(2) ul {
  list-style-type: none;
  display: inline-block;
  padding: 5rem;
}
.footer .row:nth-child(2) ul li {
  padding: 1rem 0;
}
.footer .row:nth-child(2) ul li a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
}
.footer .row:last-child {
  padding-top: 4rem;
  color: white;
  font-size: 2rem;
}
.footer .row:last-child p {
  display: flex;
  align-items: center;
  color: #f2be38;
}
.footer .row:last-child p .social-media a {
  color: #f2be38;
}
.footer .row:last-child p .social-media i {
  padding: 0 1rem;
  font-size: 3rem;
}

@media only screen and (max-width: 600px) {
  .navbar .menuToggle {
    display: block;
  }
  .navbar .menuToggle .active ~ .logo {
    display: none;
  }
  .navbar .nav-items.active {
    display: block;
    position: absolute;
    top: 8rem;
    left: 0;
    z-index: 20;
    background-color: #212121;
    width: 100%;
  }
  .navbar .nav-items {
    display: none;
  }
  .header .header-left-bg {
    position: relative;
  }
  .header .header-content {
    position: absolute;
    left: 0;
    z-index: 10;
  }
  .header .header-content > p {
    text-align: center;
    letter-spacing: 0.5rem;
  }
  .discount {
    flex-direction: column;
  }
  .discount .left-side {
    width: 100%;
  }
  .discount .left-side img {
    width: 100%;
  }
  .discount .right-side {
    width: 100%;
    padding: 2rem;
    text-align: center;
  }
  .discount .right-side img {
    margin: 4rem 0;
  }
  .special {
    position: relative;
    padding-bottom: 4rem;
    overflow: hidden;
  }
  .special .row:first-child {
    position: relative;
    z-index: 10;
  }
  .special .row:first-child p {
    width: 100%;
  }
  .special .row {
    flex-direction: column;
  }
  .special .row:last-child img:first-child {
    width: 100%;
    position: absolute;
    top: -10rem;
    display: none;
  }
  .special .row:last-child img:nth-child(2) {
    display: none;
  }
  .special .row:last-child img:nth-child(3) {
    position: absolute;
    top: -10rem;
    z-index: 5;
  }
  .our-method {
    flex-direction: column;
    padding: 0 2rem;
  }
  .our-method img {
    width: 80%;
  }
  .live-music {
    flex-direction: column;
    position: relative;
  }
  .live-music .row:first-child {
    position: relative;
    z-index: 10;
    flex-direction: column;
  }
  .live-music .row:first-child p {
    width: 100%;
    text-align: center;
  }
  .live-music .row:last-child {
    position: absolute;
    bottom: 0;
  }
  .footer .row:nth-child(2) {
    flex-direction: column;
    padding: 0 2rem;
  }
  .footer .row:nth-child(2) .nav {
    display: flex;
    justify-content: space-between;
  }
  .footer .row:nth-child(3) {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 1080px) {
  .navbar .menuToggle {
    display: block;
  }
  .navbar .nav-items {
    display: none;
  }
  .header {
    padding-right: 4rem;
  }
  .header .header-right-bg {
    display: none;
  }
  .menu {
    padding-right: 4rem;
    padding-left: 4rem;
  }
  .discount .left-side {
    width: 50%;
  }
  .discount .left-side img {
    width: 100%;
  }
  .discount .right-side {
    width: 50%;
    padding-right: 4rem;
  }
}
@media only screen and (min-width: 1400px) {
  .navbar .nav-items {
    display: flex;
  }
}/*# sourceMappingURL=style.css.map */